.canvas
{
    width: 640px;
    height:480px;
    padding:4rem;
    border: 1px solid #ccc;
    text-align:center;
}
input
{
    padding: 0.2em 0.6em;
    font-size: 1.2em;
}
input.valid,input.valid:focus
{
    box-shadow:none;
    border-radius: 2px;
    border:1px solid rgb(94, 184, 94);
}

button
{
    margin: 0;
    border-radius: 2px;
    border:0px;
    color:#212121;
    padding:0.5rem 2rem;
    background-color:rgb(233, 233, 233);

}
button.valid
{
    color:white;
    background-color:rgb(94, 184, 94);
}